* {
    list-style: none;
}

/* variabili */

:root {
    --color-bg-search-bar: #e5e5e5;
    --color-bg-body: #f8f9fa;
    --color-side-bar: #0f263d;
    --color-nav-bar: #1b72e8;
}

/* general rules */
body {
    background-color: var(--color-bg-body);
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.my-ul {
    padding-left: 0;
    margin: auto;
}

#logo {
    padding: 10px 0 10px;
}

#small-logo {
    width: 50px;
}

main {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
}

#side-bar {
    width: 150px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-color: var(--color-side-bar);
}

#main-content {
    width: calc(100% - 150px); 
    height: 100%;
    overflow-y: auto;
}

.my-bg-primary {
    background-color: #4d525b67;
}

th img {
    width: 25px;
}

@media screen and (max-width: 768px){
    #side-bar {
        width: 50px;
    }

    #main-content {
        width: calc(100% - 50px);
    }    
}